<p id="notice"><%= notice %></p>
<p><%= @drug.name %></p>
<p>Серия <%= @drug.serie %></p>

<div class="drug-serts-galllery">
  <%= render partial: 'serts/sert', collection: @drug.serts.except(@new_sert) %>
</div>

<div class="sert-image-form">
  <%= render partial: 'serts/form', locals: {sert: @new_sert || @drug.serts.build} %>
</div>

<%= link_to 'Back', @invoice %>
