<p id="notice"><%= notice %></p>

<div class="h4">
  <span class="font-weight-bold"><%= @drug.name %></span>
</div>

<div class="h5 buffer-top">
  Серия <span class="font-weight-bold"><%= @drug.serie %></span>
</div>

<div class="drug-serts buffer-top">
  <%= render partial: 'serts/sert', collection: @drug.serts.except(@new_sert) %>
</div>

<div class="sert-image-form">
  <%#= render partial: 'serts/form', locals: {sert: @new_sert || @drug.serts.build} %>
</div>

<div class="buffer-top">
  <%= link_to 'Back', @invoice %>
</div>
