<p id="notice"><%= notice %></p>

<div class="h4">
  <%= @drug.name %>
</div>

<div class="h5 buffer-top">
  Серия <span class="font-weight-bold"><%= @drug.serie %></span>
</div>

<div class="drug-serts buffer-top">
  <%= render partial: 'serts/sert', collection: @drug.serts.except(@new_sert) %>
</div>

<div class="sert-image-form">
  <%#= render partial: 'serts/form', locals: {sert: @new_sert || @drug.serts.build} %>
</div>

<%#= link_to 'Download', "/test.zip", download: 'test.zip' %>

<%= link_to 'Download', download_invoice_drug_path(@invoice.token, @drug.token) %>

<div class="buffer-top">
  <%= link_to 'Back', @invoice %>
</div>
