<p id="notice"><%= notice %></p>

<div class="h4">
  Накладная № <%= @invoice.number%>
  от <%= @invoice.date.strftime("%d.%m.%Y") %>
</div>

<table class="table table-bordered customer_drugs_table buffer-top">
  <thead class="table-secondary">
    <tr class="text-center ">
    <th class="align-middle">Номенклатура</th>
    <th class="align-middle">Серия</th>
    </tr>
  </thead>
  <% @drugs.each do |drug| %>
  <tr>
    <td><%= link_to "#{drug.name}", invoice_drug_path(@invoice.token, drug.token) %></td>
    <td><%= link_to "#{drug.serie}", invoice_drug_path(@invoice.token, drug.token) %></td>
  </tr>
<% end %>

</table>



<%= link_to 'Back', invoices_path %>
