<p id="notice"><%= notice %></p>

<div class="h4">
  Товарно-сопроводительный документ № <%= @invoice.number%>
  от <%= @invoice.date.strftime("%d.%m.%Y") %>
</div>

<table class="table buffer-top">
  <thead>
    <th scope="col">Номенклатура</th>
    <th scope="col">Серия</th>
    </tr>
  </thead>

  <% @drugs.each do |drug| %>
    <tr>
      <td><%= link_to "#{drug.name} (#{drug.serts.count} стр.)", drug %></td>
      <td><%= link_to "#{drug.serie}", drug %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Назад', invoices_path %>
