<p id="notice"><%= notice %></p>

<p>Накладная № <%= @invoice.number%></p>

<p>Дата <%= @invoice.date.strftime("%d.%m.%Y") %></p>

<p>ИНН <%= @invoice.inn%></p>

<% @drugs.each do |drug| %>
  <p>
	  <%= link_to "#{drug.name} #{drug.serie} #{drug.sert_path}", drug %>
	</p>
<% end %>
