<!DOCTYPE html>
<html>
  <head>
    <title>Serts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <% if flash.any? %>
            <div class="buffer-top alert alert-danger">
              <% flash.each do |name, message| %>
                <%= content_tag :div, message, class: "flash-#{name}" %>
              <% end %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
